.statistics-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.chart_content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title {
    font-weight: bold;
}