.title-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-icon {
    max-height: 180px;
    padding: 20px;
    border-radius: 40px;
    background: rgb(22, 22, 22);
}

.d-party-title {
    color: #cc0033;
    font-weight: bold;
}

.d-party-discription {
    background: -webkit-linear-gradient(left, #ff6cfd, #61d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    color: whitesmoke;
    line-height: 1.8;
    overflow-wrap: break-word;
    word-break: keep-all;
}


.d-party-detail {
    font-size: medium;
    font-weight: bold;
    color: #9A9A9B;
    line-height: 1.8;
    overflow-wrap: break-word;
    word-break: keep-all;
}