.title-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-icon {
    max-height: 180px;
    padding: 30px;
    border-radius: 40px;
    background: rgb(22, 22, 22);
}

.d-party-title {
    color: #cc0033;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.d-party-discription {
    letter-spacing: 0.05em;
    background: -webkit-linear-gradient(left, #ff6cfd, #61d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    color: whitesmoke;
    line-height: 1.8;
    overflow-wrap: break-word;
    word-break: keep-all;
}


.d-party-detail {
    font-size: medium;
    font-weight: bold;
    color: #9A9A9B;
    line-height: 1.8;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.install-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.glow-on-hover {
    font-size: larger;
    font-weight: bold;
    width: 250px;
    height: 70px;
    border: whitesmoke;
    /* border: none; */
    outline: none;
    color: rgb(230, 230, 230);
    background: -webkit-linear-gradient(left, #79439b, #4a8ba7);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #cc0000, #cc5c00, #ccc900, #3bd100, #00dbb7, #0022cc, #6b01dd, #da00aa, #d60000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(230, 230, 230);
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left, #79439b, #4a8ba7);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}