.redirect-shop {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-flow: column;
}

.redirect-shop p{
    color: #b9b9b9;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: bold;
}