html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Arial", "メイリオ";
  background-color: #222222;
}

#main {
  max-width: 80%;
  height: 80%;
}

.chart_content {
  width: 800px;
  max-width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  max-width: 100%;
  height: 100%;
}

.carousel {
  margin-top: 50px;
}

.carousel-image {
  width: 70%;
  object-fit: cover;
  margin-left: 150px;
  margin-right: 150px;
}


.glow-on-hover {
  font-size: larger;
  font-weight: bold;
  width: 250px;
  height: 70px;
  border: whitesmoke;
  /* border: none; */
  outline: none;
  color: rgb(230, 230, 230);
  background: -webkit-linear-gradient(left, #79439b, #4a8ba7);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #cc0000, #cc5c00, #ccc900, #3bd100, #00dbb7, #0022cc, #6b01dd, #da00aa, #d60000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgb(230, 230, 230);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #79439b, #4a8ba7);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  box-shadow: none;
}