.usage-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.usage-container>.row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.step-title {
    letter-spacing: 0.05em;
    background: -webkit-linear-gradient(left, #ff6cfd, #61d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    color: whitesmoke;
    line-height: 1.8;
}

.step-discription {
    font-size: medium;
    font-weight: bold;
    color: #9A9A9B;
    line-height: 1.8;
}

.branch-arrow {
    color: dimgray;
    font-size: 2.5em;
    text-align: center;
}

.d-animestore-shake-hand {
    color: whitesmoke;
    font-size: 3em;
    margin-left: 20px;
    margin-right: 20px;
}

.d-animestore-tie-user {
    color: whitesmoke;
    font-size: 5em;
}

.d-animestore-logo {
    height: 90px;
}

.chrome-link {
    margin-right: 10px;
}

.sidebar_copy_link {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(19, 47, 76);
    display: flex;
    font-size: smaller;
    color: rgb(178, 186, 194);
    cursor: pointer;
    padding: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(38, 93, 151);
    border-image: initial;
    border-radius: 10px;
}

.sidebar_link {
    max-width: 165px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
}