{% extends "layout.html" %} {% load static %}
{%block stylesheet %} <script src="{% static "web/js/index.js" %}"></script> 
<script src="{% static "web/js/echarts.min.js" %}"></script>
<script src="{% static "web/js/dark.js" %}"></script>
{% endblock %} 
{% block content %}
 <div id="main" class="container center-block">
        <div id="active_user" class="chart_content"></div>
        <div id="active_room" class="chart_content"></div>
        <div id="reaction_room" class="chart_content"></div>
 </div>
<script src="{% static "web/js/chart.js" %}"></script>
{% endblock %}