{% load static %}
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{% static "web/favicon/favicon-32x32.png" %}" alt=""
        width="30" height="24" class="d-inline-block align-text-top " />
        <p class="header-title">d-party</p>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">ホーム</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usage">使い方</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ダウンロード</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://github.com/d-Party"
              target="_blank"
              >開発</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">寄付</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://forms.gle/kKPbAPGY96rbaKgK8"
              target="_blank"
              tabindex="-1"
              aria-disabled="true"
              >ご意見</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
