{% extends "layout.html" %} {% load static %}
{%block stylesheet %} <script src="{% static "web/js/index.js" %}"></script>
<link rel="stylesheet" href="{% static "web/css/index.css" %}" />
{% endblock %} 
{% block content %}
<div class="container-xxl text-center title-container">
    <div class="row">
        <div class="col-8 rounded mx-auto d-block">
        <img src="{% static "web/logo/dp.png" %}" class="img-fluid title-icon"/>
        </div>
    </div>
    <div class="row">
        <div class="col-8 rounded mx-auto d-block">
        <h1 class="d-party-title h1">d-party</p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 rounded mx-auto d-block">
        <h2 class="d-party-discription h2">dアニメストアでもウォッチパーティーができる<br/>完全無料のGoogle Chrome向け拡張機能</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8 rounded mx-auto d-block">
        <p class="d-party-detail h3">
        作品数が豊富なdアニメストアで友達と一緒に同時視聴がしたいと思ったことはありませんか？
        「せーの」なんて掛け声で再生のタイミングを同期していませんでしたか？もうそんな面倒ごとは必要ありません！
        <br/>『d-party』を使えばルーム参加者のプレイヤーの再生状況を自動的にシンクしてくれます
        <br/>途中で動画を止めてトイレに行ったり、ちょっと巻き戻しをして語り合いがもっと簡単になります
        <br/>完全無料・広告無しの『d-party』を使ってみてください
        </p>
        </div>
    </div>
    <div class="row">
    <div class="col rounded mx-auto d-block install-button">
        <button type="button" class="glow-on-hover" onclick="window.open('https://chrome.google.com/webstore/detail/d-party/ibmlcfpijglpfbfgaleaeooebgdgcbpc?hl=ja','_blank');"><i class="bi bi-download"></i> 今すぐインストール</button>
    </div>
    </div>
</div>
{% endblock %}
