<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | d-party</title>
    {%block head%}{% endblock %}
    {% load static %}
    <link rel="icon"
    type="image/png" sizes="32x32" href="{% static "web/favicon/favicon-32x32.png" %}"> 
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "web/favicon/favicon-16x16.png" %}">
    <meta name="theme-color" content="#ffffff" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <link rel="stylesheet" href="{% static "web/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "web/css/header.css" %}" />
    <link rel="stylesheet" href="{% static "web/css/style.css" %}" />
    <link rel="stylesheet" href="{% static "web/css/flickity.css" %}" />
    <link rel="stylesheet" href="{% static "web/css/slick-theme.css" %}" />
    <link rel="stylesheet" href="{% static "web/css/loader.css" %}" />
    <link href="{% static "web/css/footer.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="{% static "web/js/bootstrap.min.js" %}"></script> 
    <script src="{% static "web/js/jquery-3.6.0.js" %}"></script> 
    <script src="{% static "web/js/jquery-migrate.js" %}"></script> 
    <script src="{% static "web/js/flickity.min.js" %}"></script> 
    <script src="https://unpkg.com/axios@1.0.0/dist/axios.min.js"></script>
    {%block stylesheet%}{% endblock %}
  </head>

  <body>
    {% include "header.html" %}
    {% block content %}{% endblock %}

  </body>
</html>
