{% extends "layout.html" %}
{% block stylesheet %}{% load static %}
<link rel="stylesheet" href="{% static "web/css/lobby.css" %}" />
{% endblock %}
{% block head %}    
<meta property="og:title" content="dアニメストアで一緒にアニメを視聴しよう！ | d-party">
<meta property="og:site_name" content="d-party" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="ja_JP">
<meta class="chrome_extension_field"></meta>
{% endblock %}
{% block content %}{% load static %}
<div class="loader-wrap">
	<div class="loader">Loading...</div>
    <p>ルームに接続しています</p>
</div>

<div class="redirect-shop update-shop">
    <img src="{% static "web/img/lobby/hand.svg" %}" width="125" height="125"/>
    <p>拡張機能をアップデートしてください</p>
    <p>3秒後にChrome ウェブストアにリダイレクトします</p>
</div>
<div class="redirect-shop install-shop">
    <img src="{% static "web/img/lobby/hand.svg" %}" width="125" height="125"/>
    <p>拡張機能をインストールしてください</p>
    <p>3秒後にChrome ウェブストアにリダイレクトします</p>
</div>

<script type="text/javascript">
$(".redirect-shop").hide();
window.addEventListener("load", main, false);
function version_check(){
    if (
      document.getElementsByClassName("chrome_extension_field")[0].innerText ===
      "true"
    ) {
      window.location.href = "{{redirect_url|safe}}";
    } else if (
      document.getElementsByClassName("chrome_extension_field")[0].innerText ===
      "false"
    ) {
        const element = document.querySelector('.loader-wrap p');
        element.innerText="拡張機能のバージョンが対応していません"
        window.setTimeout(function(){
            $('.loader-wrap').fadeOut(500,function(){
              $('.update-shop').fadeIn(500);
              window.setTimeout(function(){
                window.location.href = "https://chrome.google.com/webstore/detail/d-party/ibmlcfpijglpfbfgaleaeooebgdgcbpc?hl=ja";
              },3000)
            });
        },2000);    
    }
}

function main(e) {
for (let step = 1; step < 10; step++) {
    window.setTimeout(version_check, 1000*step);
}
/*10秒待ってダメなら、インストールされていないと判断*/
  window.setTimeout(function(){        
        const element = document.querySelector('.loader-wrap p');
        element.innerText="拡張機能がインストールされていません"
        window.setTimeout(function(){
              $('.loader-wrap').fadeOut(500,function(){
              $('.install-shop').fadeIn(500);
              window.setTimeout(function(){
                window.location.href = "https://chrome.google.com/webstore/detail/d-party/ibmlcfpijglpfbfgaleaeooebgdgcbpc?hl=ja";
              },3000)
            });
        },2000);
        }, 10000);
}
</script>
{% endblock %}
