!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[client]
loose-default_character_set=utf8mb4

[mysqld]
character_set_server=utf8mb4
explicit_defaults_for_timestamp=true
server_id=1
log_bin=mysql-bin
binlog_format=MIXED